[submodule "writeups/Hacking-101-Write-Up"]
	path = writeups/Hacking-101-Write-Up
	url = https://github.com/WesternCyber/Hacking-101-WriteUp.git
	branch = master
[submodule "writeups/CTF-WriteUp"]
	path = writeups/CTF-WriteUp
	url = https://github.com/WesternCyber/CTF-WriteUp.git
	branch = master
[submodule "database"]
	path = database
	url = git://westerncyber:Abcd123@github.com:nobodyrandom/westerncyber-database.git
	branch = master
